@model IEnumerable<Product>
@if (Model != null && Model.Count() > 0)
{
    <div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class="col-md-4 col-sm-6 p-3">
                <a asp-action="Details" asp-route-id="@product.Id" class="card meal-item border-0 ">
                    <div class="card-header image-holder p-0">
                        <img src="@product.ImageUrl" class="img-fluid " />
                    </div>
                    <div class="card-body pb-0">
                        <h3> @product.Title</h3>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <h3>No meals found. Try another ingredient.</h3>
    /// must edit me
}
